/* body{
    background-color: #e5e5e5;
} */
.Food-network{
    display: flex;
}
.Food-network-child-div-1{
    font-family: 'Mochiy Pop One', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-top: 180px;
    margin-left: 120px;
    width: 623px;
    height: 234px;
    font-size: 30px;
    line-height: 130%;

}
.Food-network-child-div-1 span{
    color: rgb(247, 164, 9);
}
.Food-network-child-div-2{
    font-family: 'Mochiy Pop One', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    /* margin-top: 38px; */
    margin-left: 120px;
}
.Food-network-div-2{
    width: 792px;
    height: 843.96px;
    margin-right: 50px;
}