/* body{
    background-color: #e5e5e5;
} */
/* img{
    max-width: 100%;
} */
*{
    margin: 0;
    padding: 0;
}
.Food-network{
    width: auto;
    display: flex;
}
.Food-network-child-div-1{
    font-family: 'Mochiy Pop One', sans-serif;
    font-family: 'Montagu Slab', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-top: 260px;
    margin-left: 120px;
    font-size: 30px;
    line-height: 78px;
    color: #575757;

}
.Food-network-child-div-1 span{
    color: rgb(247, 164, 9);
}
.Food-network-child-div-2{
    font-family: 'Mochiy Pop One', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 38px;
    margin-left: 120px;
    line-height: 130%;
    opacity: .6;
}
.Food-network-div-2 img{
    width: 792px;
    height: 843.96px;
    margin-right: 40px;
    margin-top: 90px;
}
.Food-network-child-div-3{
    margin-left: 120px;
}
.click-button-1{
    text-decoration: none;
    background-image: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%) ;
    color: white;
    padding: 12px 24px;
    border-radius: 25px;
    line-height: 80px;
}
.About-me{
    background-color:rgba(252, 143, 73, 0.1);
    height: 600px;
    display: flex;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    width: auto;
}
.About-me-div-1{
    width: 735px;
}
.About-me-div-1 img{
    width: 338px;
    height: 536px;
    padding-left: 199px;
    padding-top: 64px;
}
.About-me-div-2{
    padding-top: 127px;
    padding-left: 48px;
    padding-right: 48px;
    width: 705px;
}
.About-me-child-div-1{
    width: 444px;
    height: 54px;
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
    padding-right: 213px;
    margin-bottom: 32px;
}
.About-me-child-div-2{
    width: 444px;
    height: 160px;
    padding-right: 213px;
}
.About-me-child-div-3{
    padding-top: 40px;
}
.click-button-2{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%) ;
    font-weight: 600;
    font-size: 20px;
    padding-left: 46.845px;
    padding-right: 46.845px;
    padding-top: 23px;
    padding-bottom: 23px;
    border-radius: 50px;
}
.My-recipies{
    padding-top: 72px;
    padding-bottom: 38px;
}
.My-recipies-div-1{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 43.88px;
    padding-bottom: 30px;
}
.My-recipies-div-2{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.55px;
    width: 680px;
    height: 69px;
    padding-left: 367px;
    padding-right: 367px;
}
.Recipies-title{
    width: 1240px;
    height: 562px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #e5e5e5;
}
.Recipies-title-div-1{
    width: 610px;
    height: 562px;
    background-color: white;
}
.Recipies-title-child-div-2 h1{
    font-weight: 800;
    font-size: 28px;
    line-height: 40px;
}
.Recipies-title-child-div-1 img{
    width: 550px;
    height: 308px;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
}
.Recipies-title-child-div-2{
    width: 542px;
    height: 134px;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 38px;
    margin-bottom: 68px;
}


.Social-media{
    margin-top: 100px;
    margin-right: 101px;
    margin-left: 100px;
    margin-bottom: 92px;
    width: 1239px;
    height: 226px;
    box-shadow: 5px 5px 10px 5px gray;
}
.Social-media-div{
    display: flex;
    width: 909px;
    height: 98px;
    padding: 64px 165px;
}
.youtube{
    width: 350px;
    height: 98px;
    margin-right: 30px;
}
.youtube h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
}
.youtube p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.instragram{
    width: 350px;
    height: 98px;
    margin-right: 30px;
}
.instragram h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
}
.instragram p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.dribble-shot{
    width: 350px;
    height: 98px;
}
.dribble-shot h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
}
.dribble-shot p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

